/* styles.css */

/* Ocultar o botão "Gerar PDF" na impressão */
@media print {
    #gerarPDF {
        display: none;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 900px;
    width: 100%;
    padding: 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    text-align: center;
    flex-wrap: wrap; /* Permite que o conteúdo se ajuste em telas menores */
    padding-bottom: 10px;
}

.header-container .logo {
    width: 100px;
    height: auto;
    margin-left: 0; /* A logo fica sempre à esquerda */
}

.header-container div {
    flex-grow: 1;
    text-align: center; /* Centraliza o h1 e h2 */
}

h1, h2 {
    margin: 0;
    word-wrap: break-word; /* Ajusta a quebra de linha no título, se necessário */
}

/* Estilos para o formulário */
form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: auto;
}

section {
    margin-bottom: 20px;
}

h3 {
    background: #e6b0aa;
    padding: 5px;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 5px;
}

input, textarea, select {
    display: block;
    width: calc(100% - 10px);
    margin-top: 5px;
    padding: 5px;
}

input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

.assinatura {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap; /* Permite que os itens se empilhem em telas pequenas */
}

.assinatura span {
    flex-basis: 45%; /* Cada parte da assinatura vai ter 45% da largura */
    margin-bottom: 10px;
}

button {
    background: #a33;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

/* Adiciona media query para telas menores */
@media screen and (max-width: 768px) {
    .header-container {
        justify-content: center;
        text-align: center;
    }
    
    .header-container .logo {
        margin-right: auto; /* Garante que a logo não se sobreponha aos textos */
    }

    .header-container div {
        text-align: center; /* Garante que o título (h1, h2) fiquem centralizados */
    }

    /* Ajuste para o h1 e h2 em telas menores */
    h1, h2 {
        font-size: 1.2rem; /* Ajusta o tamanho da fonte para telas pequenas */
    }

    /* Ajuste da assinatura em telas pequenas */
    .assinatura {
        flex-direction: column; /* Empilha os itens em telas pequenas */
        align-items: center;
    }

    .assinatura span {
        flex-basis: 100%; /* Cada parte ocupa 100% da largura em telas pequenas */
        text-align: center;
    }
}
